@import '../../variables.scss';

.projectHeading {
    font-family: 'Allura', cursive;
    font-size: 30px;
    margin: 7% 7% 0 11%;
    padding-left: 6%;
    box-shadow: $boxShadow;
    border-radius: $borderRadius;
    display: inline-block;
    width: 80%;
}

.projectTitle {
    width: 80%;
}

.projectIconImage {
    width: 8%;
}

.projectTitle, .projectIconImage {
    flex-wrap: wrap;
    display: inline-flex;
}

.projectHeading:hover {
    transform: $hoverSize;
    cursor: $cursorPointer;
}

.projectBody {
    box-shadow: 5px 10px 12px #a2c3c3;
    margin-top: 7%;
    margin-left: 7%;
    font-family: 'K2D', sans-serif;
}

.listItemProject {
    margin: 7% 26% 5% 32%;
    padding: 1% 1% 1%;
    box-shadow: $boxShadow;
}

.listItemProject:hover {
    transform: $hoverSize;
}
