@import '../../variables.scss';

.title {
    font-family: 'Allura', cursive;
    font-size: 30px;
    margin: 6% 4% 6% 0%;
    padding-left: 6%;
    text-decoration: underline;
}

.anchors {
    font-family: 'Quintessential', cursive;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
    margin-left: 20%;
}

.anchors > * {
    flex: 0 0 38%;
}

.linkedInAnchor:hover, .gitHubAnchor:hover {
    transform: scale(1.4);
    cursor: $cursorPointer;
}

.linkedInAnchor, .gitHubAnchor {
    color: black;
    list-style: none;
    display: inline-block;
    padding: 0px 20px;
    width: 45%;
    box-shadow: 25px 10px 12px $boxShadowColor;
    border-radius: $borderRadius;
}
